<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<article layout:fragment="content">
      <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="card-header d-flex justify-content-between">
                                    <div class="header-title">
                                        <h4 class="card-title">Products</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 "></div>
                                <div class="col-lg-4 "></div>
                                <div class="col-lg-4 ">
                                    <select class="form-control" id="branch-select-product" required="">
                                        <option selected disabled value="">Choose Branch...</option>
                                        <option>All</option>
                                        <th:block th:each="branch:${branchList}">
                                            <option th:text="${branch.getName()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="datatable-1" class="table data-table table-striped table-bordered table-product">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Brand</th>
                                            <th>Import Price</th>
                                            <th>Retail Price</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-product-list">
                                        <tr th:each="product:${listProducts}">
                                            <td>
                                                <div class="media">
                                                    <img th:src="'data:image/jpeg;base64,' + ${product.getEncodedImage()}"
                                                         class="align-self-center mr-3 avatar-40 img-fluid rounded"
                                                         alt="#">
                                                    <div class="media-body">
                                                        <div
                                                                class="d-flex flex-wrap justify-content-start align-items-center">
                                                            <p class="mb-0 font-weight" th:utext="${'Name: '+product.getName() + '&lt;br/&gt;' +'Barcode: '+ product.getBarCode()}"></p>                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td th:text="${product.getBrand().getName()}"></td>
                                            <td th:id="${product.getId() + '-importPrice'}" th:text="${product.getImportPrice()}"></td>
                                            <td th:id="${product.getId() + '-retailPrice'}" th:text="${product.getRetailPrice()}"></td>
                                            <td class="text-xl-center">
                                                <button type="button" class="btn" data-toggle="modal" data-target="#modal-update-product" th:data-id="${product.getId()}">
                                                    <i class="fa-regular fa-pen-to-square" style="color: #b0b300;"></i>
                                                </button>
                                                <div id="modal-update-product" class=" modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Change Information of Product</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group row">
                                                                    <label class="control-label col-sm-3 align-self-center" for="nameOfProductUpdated">Name of Product:</label>
                                                                    <div class="col-sm-9">
                                                                        <input disabled type="text" class="form-control" id="nameOfProductUpdated" th:value="${product.getName()}" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-sm-3 align-self-center" for="importPriceOfProductUpdated">Import Price:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="importPriceOfProductUpdated" th:value="${product.getImportPrice()}" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-sm-3 align-self-center" for="retailPriceOfProductUpdated">Import Price:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="retailPriceOfProductUpdated" th:value="${product.getRetailPrice()}" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary btn-update-product" th:data-id="${product.getId()}">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button type="button" class="btn" data-toggle="modal" data-target="#modal-delete-product" th:data-id="${product.getId()}">
                                                        <i class='fa-regular fa-trash-can' style='color: red'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
</article>
</body>
</html>